nav {
  display: flex;
  margin-bottom: 20px;
  background-color: gray;

  a {
    display: block;
    text-align: center;
    padding: 10px;
    width: 100px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;

    &:hover {
      background-color: #a1a0a0;
    }
  }
}